<!--
    =====> TODO <======
    Mejoras en el formulario de búsqueda:
    - Añadir labels para búsquedas sugeridas.
    - Añadir opción de buscar por diferentes campos.
-->
<image-slider
    ng-if="vm.list.length > 0"
    list="vm.list"
    favorite-list="vm.favoriteList"
    offset="vm.offset"
    limit="vm.limit"
    give-me-next="vm.giveMeComics()">
</image-slider>
<div class="comics-placeholders" ng-if="vm.list.length < 1">
    <div class="comic-placeholder flex">
        <div
        class="placeholder bg-purple pink"
        ng-repeat="placeholder in vm.placeholders track by $index">
        </div>
    </div>
</div>
<form class="flex column marvel-search-form form-group">
    <div class="flex column input-group">
        <label class="title pink">Buscar por título:</label>
        <div class="flex center">
            <input
            type="text"
            placeholder="Introduce tu título favorito"
            ng-model="vm.input"
            ng-change="vm.inputHandler()"/>
            <small class="checked" ng-if="contactsCtrl.newContact.email.$valid"><i class="fa fa-check" aria-hidden="true"></i></small>
        </div>
        <div class="flex">
            <small class="error-text" ng-if="contactsCtrl.newContact.email.$invalid && contactsCtrl.newContact.email.$touched">Tu nombre de usuario debe contener al menos 10 carateres</small>
        </div>
    </div>
    <div class="characters-container flex center">
        <label class="title pink"> Personajes aleatorios: </label>
        <small
        class="bg-pink light-soft"
        ng-click="vm.giveMeComics_byChar(char.id)"
        ng-repeat="char in vm.randomChars track by $index">{{char.name}}</small>
    </div>
</form>
<favorite-list
    list="vm.favoriteList">
</favorite-list>