<header class="user-profile-header flex center start">
    <div class="go-back">
        <a href="#!/">
            <button class="btn btn-header btn-circle white"> <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <small class="bg-pink white"><strong>Volver a contactos</strong></small>
        </a>
    </div>
</header>
<main class="flex center">
    <section class="user-profile-section bg-pink">
        <user-profile
            user="contactProfileCtrl.user">
        </user-profile>
    </section>
    <aside class="favorite-selector-section bg-green">
        <div class="favorite-selector flex center">
            <button ng-click="contactProfileCtrl.giveMeGifs()" class="btn bg-purple">GIFS</button>
            <button ng-click="contactProfileCtrl.giveMeComics()" class="btn bg-purple">COMICS</button>
        </div>
        <favorite-list
            list="contactProfileCtrl.list">
        </favorite-list>
    </aside>
</main>