<header>

</header>
<main class="flex center space-a">
    <section class="contacts-list flex center">
        <user-list
            ng-if="contactsCtrl.contacts.length > 0"
            class="flex center"
            users="contactsCtrl.contacts">
        </user-list>
        <div
            ng-if="contactsCtrl.contacts.length < 1"
            class="flex center add-new-user-container bg-purple greem">
            <button ng-click="contactsCtrl.addTest()" class="btn btn-circle bg-green purple"><i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <small class="bg-green purple"><stron>Añadir usuario test</stron></small>
        </div>
    </section>

    <aside class="flex column space-b">
        <div
            ng-if="contactsCtrl.edit == 'init'"
            class="flex center add-new-user-container bg-purple pink">
            <button ng-click="contactsCtrl.edit='personal'" class="btn btn-circle bg-pink white"><i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <small class="bg-pink white"><stron>Añadir nuevo usuario</stron></small>
        </div>
        <div ng-if="contactsCtrl.edit != 'init'"  class="edit-container">
            <div class="edit-selector flex center">
                <label ng-click="contactsCtrl.edit='personal'">Info</label>
                <label ng-click="contactsCtrl.edit='comics'">Comics</label>
                <label ng-click="contactsCtrl.edit='giphy'">Gifs</label>
            </div>

            <div ng-if="contactsCtrl.edit=='comics'">
                <marvel-manager favorite-list="contactsCtrl.newContact.favoriteList.marvel"></marvel-manager>
            </div>
            <div ng-if="contactsCtrl.edit=='giphy'">
                <giphy-manager favorite-list="contactsCtrl.newContact.favoriteList.giphy"></giphy-manager>
            </div>

            <form ng-if="contactsCtrl.edit=='personal'" class="form-group flex column space-b">
                <div class="input-group-iconic flex column center">
                    <div class="flex center search-bar">
                        <i class="fa fa-user-circle" ng-class="{error: !contactsCtrl.newContact.name.$valid && contactsCtrl.newContact.name.$touched && contactsCtrl.newContact.name.$dirty}" aria-hidden="true"></i>
                        <input ng-minlength="5" type="text" name="newContact.name" id="newContact.name" ng-model="contactsCtrl.newContact.name" ng-change="" ng-required="true" placeholder="Nombre">
                        <small class="checked" ng-if="contactsCtrl.newContact.name.$valid"><i class="fa fa-check" aria-hidden="true"></i></small>
                    </div>
                    <div class="flex">
                        <small class="error-text" ng-if="contactsCtrl.newContact.name.$invalid && contactsCtrl.newContact.name.$touched">Tu nombre de usuario debe contener al menos 10 carateres</small>
                    </div>
                </div>
                <div class="input-group-iconic flex column center">
                    <div class="flex center search-bar">
                        <i class="fa fa-user-circle" ng-class="{error: !contactsCtrl.newContact.email.$valid && contactsCtrl.newContact.email.$touched && contactsCtrl.newContact.email.$dirty}" aria-hidden="true"></i>
                        <input ng-minlength="5" type="text" name="newContact.email" id="newContact.email" ng-model="contactsCtrl.newContact.email" ng-change="" ng-required="true" placeholder="Email de contacto">
                        <small class="checked" ng-if="contactsCtrl.newContact.email.$valid"><i class="fa fa-check" aria-hidden="true"></i></small>
                    </div>
                    <div class="flex">
                        <small class="error-text" ng-if="contactsCtrl.newContact.email.$invalid && contactsCtrl.newContact.email.$touched">Tu nombre de usuario debe contener al menos 10 carateres</small>
                    </div>
                </div>
                <div class="input-group-iconic flex column center">
                    <div class="flex center search-bar">
                        <i class="fa fa-user-circle" ng-class="{error: !contactsCtrl.newContact.phone.$valid && contactsCtrl.newContact.phone.$touched && contactsCtrl.newContact.phone.$dirty}" aria-hidden="true"></i>
                        <input ng-minlength="5" type="number" name="newContact.phone" id="newContact.phone" ng-model="contactsCtrl.newContact.phone" ng-change="" ng-required="true" placeholder="Número de teléfono">
                        <small class="checked" ng-if="contactsCtrl.newContact.phone.$valid"><i class="fa fa-check" aria-hidden="true"></i></small>
                    </div>
                    <div class="flex">
                        <small class="error-text" ng-if="contactsCtrl.newContact.phone.$invalid && contactsCtrl.newContact.phone.$touched">Tu nombre de usuario debe contener al menos 10 carateres</small>
                    </div>
                </div>
                <div class="input-group-iconic flex column center">
                    <div class="flex center search-bar">
                        <i class="fa fa-user-circle" ng-class="{error: !contactsCtrl.newContact.photo.$valid && contactsCtrl.newContact.photo.$touched && contactsCtrl.newContact.photo.$dirty}" aria-hidden="true"></i>
                        <input ng-minlength="5" type="text" name="newContact.photo" id="newContact.photo" ng-model="contactsCtrl.newContact.photo" ng-change="" ng-required="true" placeholder="URL - Imagen de perfil">
                        <small class="checked" ng-if="contactsCtrl.newContact.photo.$valid"><i class="fa fa-check" aria-hidden="true"></i></small>
                    </div>
                    <div class="flex">
                        <small class="error-text" ng-if="contactsCtrl.newContact.photo.$invalid && contactsCtrl.newContact.photo.$touched">Tu nombre de usuario debe contener al menos 10 carateres</small>
                    </div>
                </div>
                <button ng-click="contactsCtrl.addContact()">Añadir</button>
            </form>
        </div>
    </aside>
</main>