<input type="text" ng-model="giphyCtrl.input" ng-change="giphyCtrl.giveMeGifts()">
<button ng-click="giphyCtrl.giveMeGifts()">Traer Gifts</button>
<button ng-click="giphyCtrl.nextOffset()">Next</button>
<button ng-if="giphyCtrl.offset > 7" ng-click="giphyCtrl.prevOffset()">Prev</button>

<div class="gif-container flex">
    <div ng-click="giphyCtrl.addToFavorite(gif)" ng-class="{favorite: giphyCtrl.isIn(gif.id)}" class="gif-item" ng-repeat="gif in giphyCtrl.list">
        <img src="{{gif.images.fixed_width.url}}" alt="">
    </div>
</div>

<div class="gif-container flex column center favorite-list">
        <h1>Favoritos</h1>
        <div class="gif-item-container flex center">
            <div ng-click="giphyCtrl.removeFromFavorite(gif.id)" class="comic-item center" ng-repeat="gif in giphyCtrl.favorite_list">
                <img src="{{gif.images.fixed_width.url}}" alt="">
            </div>
        </div>
    </div>