<input type="text" ng-model="marvelCtrl.input" ng-change="marvelCtrl.giveMeComics()">
<button ng-click="marvelCtrl.giveMeComics()">Traer Comics</button>

<div class="slider-container flex center">
    <div class="arrow flex center" ng-click="marvelCtrl.prevOffset()"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="comic-container flex space-a">
        <div ng-click="marvelCtrl.addToFavorite(comic)" ng-class="{favorite: marvelCtrl.isIn(comic.id)}" class="comic-item" ng-repeat="comic in marvelCtrl.list">
            <img src="{{comic.photo}}" alt="">
        </div>
    </div>
    <div class="arrow flex center" ng-click="marvelCtrl.nextOffset()"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
</div>


<div class="comic-container flex column center favorite-list">
    <h1>Favoritos</h1>
    <div class="comic-item-container flex center">
        <div class="comic-item center" ng-repeat="comic in marvelCtrl.favorite_list">
            <img src="{{comic.photo}}" alt="">
        </div>
    </div>
</div>