section.user-profile-section, aside.favorite-selector-section {
    min-height: 85vh;
    box-sizing: border-box;
    padding-top: 25px;
}
section.user-profile-section {
    width: 30%;
}
aside.favorite-selector-section {
    width: 70%;
}
header.user-profile-header {
    box-sizing: border-box;
}
.profile-container {
    height: 80vh;
    box-sizing: border-box;
}
.profile-header {
    padding: 12px 0px;
}
.profile-photo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 5px solid #38003c;
    padding: 12px;
}
.profile-info label {
    padding: 12px 16px;
    border-radius: 1px;
    border-bottom: 4px solid #38003c;
    font-size: 1.5em;
}
.profile-info-iconic {
    flex: 1;
}
.profile-info-name {
    font-size: 2em;
    color: white;
    font-weight: 200;
}
.profile-info-iconic small {
    opacity: 0;
    transform: scale(0.5);
    min-width: 80px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.825, -0.570, 0.155, 1.650);
}
.profile-info-iconic:hover small {
    opacity: 1;
    transform: scale(1);
}
