<div class="slider-container flex center">
    <div class="arrow flex center" ng-click="vm.prevOffset()"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="images-container flex">
        <div
        ng-click="vm.addToFavorite(image)"
        ng-class="{favorite: vm.isIn(image.id)}"
        class="image-item"
        ng-repeat="image in vm.list">
            <div class="image-item-header flex center space-b bg-purple pink">
                <i class="fas fa-heart white"></i>
                <small class="bg-pink white">{{image.displayTitle}}</small>
            </div>
            <img src="{{image.photo}}" alt="">
            <div class="image-item-actions">

            </div>
        </div>
    </div>
    <div class="arrow flex center" ng-click="vm.nextOffset()"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
</div>