<!--
    =====> TODO <======
    Mejoras en el formulario de búsqueda:
    - Añadir labels para búsquedas sugeridas.
    - Añadir opción de buscar por diferentes campos.
-->
<image-slider
    list="vm.list"
    favorite-list="vm.favoriteList"
    offset="vm.offset"
    limit="vm.limit"
    give-me-next="vm.giveMeGifs()">
</image-slider>

<input
    type="text"
    placeholder="Gifs about whaaaat?"
    ng-model="vm.input"/>
<button
    ng-click="vm.giveMeGifs()">Buscar</button>
<button
    ng-click="vm.orderByTrending()">Trending</button>
<button
    ng-click="vm.orderByNewest()">Newest</button>

<favorite-list
    list="vm.favoriteList">
</favorite-list>